<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="icon" href="/image/weather.png">
        <link type="text/css" rel="stylesheet" href="./css/styles.css">
    </head>
    <body>
        <div class="main-content">
         <p>{{>header}}</p>
        <div class="first-img"></div>
        </div>

        <p>{{>footer}}</p>
    </body>
</html>